<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="de.christl.smsoip.supplier.gmx" android:versionCode="1" android:versionName="1.0"
          android:installLocation="auto">
    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="7"/>

    <application android:label="SMSoIP GMX Plugin" android:icon="@drawable/icon">
    </application>
</manifest>