<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" android:versionCode="5" android:versionName="1.1.3" package="de.christl.smsoip.supplier.gmx">
    <uses-sdk android:minSdkVersion="5" android:targetSdkVersion="11"/>

    <application android:icon="@drawable/icon" android:label="SMSoIP GMX Plugin">
    </application>
</manifest>